 .swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;
  
    /* Center slide text vertically */
    /* display: block; */
    justify-content: center;
    align-items: center;
  }
  
  .swiper-slide Image {
    /* display: block; */
    width:100%;
    height: fit-content;
    object-fit: cover;
  }  
  .swiper {
    width: 50px;
    margin-left: auto;
    display: none;
    margin-right: auto;
  }
  
  .swiper-slide {
    background-size: cover;
    background-position: center;
  }
  
  .mySwiper2 {
    width: 10vh;
    display: none;
  }
  
  .mySwiper {
    width: 10dvw;
    box-sizing: border-box;
    padding: 10px 0;
  }
  
  .mySwiper .swiper-slide {
    opacity: 0.4;
  }
  
  .mySwiper .swiper-slide-thumb-active {
    opacity: 1;
  }
  
  .swiper-slide img {
    display: block;
    object-fit: cover;
  }
  