.swiper {
    width: 100%;
    height: auto;
}

.swiper-slide {
    text-align: center;
    font-size: 18px;
    display: block ;
    justify-content: center;
    align-items: center;
}


/* .swiper-pagination {
    margin-bottom: -2%;
    background: #000;
} */

.swiper-slide img {
    display: block;
    object-fit: cover;
}