.swiper {
    width: 98dvw;
    height: fit-content;
}

.swiper-slide {
    text-align: center;
    font-size: 18px;
    display: block ;
    justify-content: center;
    align-items: center;
}

.swiper-slide img {
    display: block;
    object-fit: cover;
}