@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Afacad&family=Lexend+Zetta:wght@300&family=Montserrat:wght@700&family=Raleway&display=swap');

body {
  font-family: 'Raleway', sans-serif;
}


/* ::selection styles for the entire body */

::selection {
  color: #fefefe;
  background-color: #7ea15b;
}


/* ::selection styles for Firefox */

::-moz-selection {
  color: #fefefe;
  background-color: #7ea15b;
}


/* ::selection styles for WebKit (Chrome, Safari) */

::-webkit-selection {
  color: #fefefe;
  background-color: #7ea15b;
}


/* ::selection styles for Microsoft Edge */

::selection {
  color: #fefefe;
  background-color: #7ea15b;
}

@layer base {

  header,
  footer,
  section {
    @apply px-container py-10;
  }
}


/* For Webkit browsers (e.g., Chrome, Safari) */

::-webkit-scrollbar {
  width: 10px;
  /* Width of the scrollbar */
}

::-webkit-scrollbar-thumb {
  background-color: #4f4f4f;
  /* Color of the thumb */
  border-radius: 5px;
  /* Radius of the thumb */
}

::-webkit-scrollbar-track {
  background-color: #ddd;
  /* Color of the track */
}

* {
  scrollbar-width: thin;
  scrollbar-color: #4f4f4f #ddd;
  /* Thumb and track colors */
}


/* @keyframes fadeInOut {
    0% {
      opacity: 0;
    }
    50% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }
  
  .transition-image {
    animation: fadeInOut 3000ms ease-in-out;
  }
  
  .transition-image.hovered {
    animation-direction: alternate;
  }
   */